{% load i18n %}
<div class="newask module" id="editor_side_bar">
    <p class="subtitle darkred">{% trans "Markdown Basics" %}</p>
    <ul class="list-item">
        <li>
            {% trans "*italic* or __italic__" %}
        </li>
        <li>
	  {% trans "**bold** or __bold__" %}
        </li>
        <li>
            {% trans "link" %}：  [{% trans "text" %}](http://url.com/)

        </li>

        <li>
            {% trans "image" %}：  ![alt {% trans "text" %}](/path/img.jpg)

        </li>
        <li>
	  {% trans "numbered list:" %}
          1.  Foo
          2.  Bar
        </li>
        <li>
	  换行：{% trans "to add a line break simply add two spaces to where you would like the new line to be." %}
        </li>
        <li>
	  {% trans "basic HTML tags are also supported" %}
        </li>
    </ul>
    <p class="ar">
      <a href="{% url markdown_help %}" target="_blank">{% trans "learn more about Markdown" %} </a>
    </p>
</div>
